body {
  background-color: cyan; 
}

#technology-advice-article {
  font-family: Helvetica, sans-serif; 
  border: 5px red solid; 
}

#playmaker-health-article {
  font-family: Didot, serif;
  border: 2px palegoldenrod dotted; 
}

#frothy-monkey-article {
  font-family: Andale Mono, monospace;
  border: 3px yellow ridge; 
}

#side-effects-article {
  font-family: 'Times New Roman', Times, serif;
  border: 3px yellow solid; 
}

article > header {
  color:darkblue; 
}

article {
  margin: 10px; 
  padding: 5px; 
}
